<mat-toolbar class="bg-dark mat-typography" text="bg-primary">
    <span class="text-light"><mat-icon>eco</mat-icon> Aarogya Niketan</span>
  
    <div class="spacer"></div>
    <a routerLink="" class="text-dark"></a>
    <a mat-button routerLink="home" class="text-light">Home</a>/
    <a mat-button routerLink="login" class="text-light">Login</a>/
    <a mat-button routerLink="hospital" class="text-light">Create Hospitals</a> /
    <a mat-button routerLink="hospitalList" class="text-light">Hospitals </a>/
    <a mat-button routerLink="userList" class="text-light">Users</a>/
    <a mat-raised-button color="pink" routerLink="signup" class="text-dark"
      >Sign Up</a
    >
  </mat-toolbar>