<mat-toolbar class="bg-success" text="white">
    <span><mat-icon>eco</mat-icon> Aarogya Niketan</span>
  
    <div class="spacer"></div>
    <a routerLink="" class="text-dark"></a>
    <a mat-button routerLink="home" class="text-dark">Home</a>/
    <a mat-button routerLink="login" class="text-dark">Login</a>/
    <a mat-button routerLink="hospital" class="text-dark">Create Hospitals</a> /
    <a mat-button routerLink="hospitalList" class="text-dark">Hospitals </a>/
    <a mat-button routerLink="userList" class="text-dark">Users</a>/
    <a mat-raised-button color="pink" routerLink="signup" class="text-dark"
      >Sign Up</a
    >
  </mat-toolbar>