<div class="container mt-4">
    <form [formGroup]="formValue">
      <div class="form-group">
        <label for="exampleInputEmail1">Hospital Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="hospitalName"
          placeholder="Enter Hospital Name"
          required
        />
        <span
        *ngIf="hospitalName?.invalid && hospitalName?.touched"
        class="text-danger"
        >Name is Required</span
      >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">address</label>
        <input
          type="address"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter Address"
          formControlName="address"
          required
        />
        <small *ngIf="address?.invalid && address?.touched" class="text-danger">
          Message is Required(minimum length 10)</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Beds</label>
        <input
          type="number"
          class="form-control"
          placeholder="Beds"
          formControlName="beds"
          required
        />
        <span *ngIf="beds?.invalid && beds?.touched" class="text-danger"
        >Number is Required</span
      >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">ICU Beds</label>
        <input required
          type="number"
          class="form-control"
          placeholder="Icu Beds"
          formControlName="icuBeds"
        />
        <span *ngIf="icuBeds?.invalid && icuBeds?.touched" class="text-danger"
        >Number is Required</span
      >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contact Details</label>
        <input
          type="moblie"
          class="form-control"
          placeholder="Contact"
          formControlName="contact"
          required
        />
        <small *ngIf="contact?.invalid && contact?.touched" class="text-danger">
          Message is Required(minimum length 10)</small
        >
      </div>
      <button
        type="button"
        class="btn btn-primary"
        (click)="postHospitalDetails()" [disabled]="formValue.invalid"
      >
        Submit
      </button>
    </form>
  </div>