<table class="table container mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hospital</th>
        <th scope="col">Address</th>
        <th scope="col">Beds</th>
        <th scope="col">Icu Beds</th>
        <th scope="col">Contact</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of hospitalData">
        <td>{{ row.hospitalName }}</td>
        <td>{{ row.address }}</td>
        <td>{{ row.beds }}</td>
        <td>{{ row.icuBeds }}</td>
        <td>{{ row.contact }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="onEdit(row)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteHospital(row)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Hospital Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="hospitalName"
                placeholder="Enter Hospital Name"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">address</label>
              <input
                type="address"
                class="form-control"
                aria-describedby="emailHelp"
                placeholder="Enter Address"
                formControlName="address"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Beds</label>
              <input
                type="number"
                class="form-control"
                placeholder="Beds"
                formControlName="beds"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">ICU Beds</label>
              <input
                type="number"
                class="form-control"
                placeholder="Icu Beds"
                formControlName="icuBeds"
                required
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contact Details</label>
              <input
                type="moblie"
                class="form-control"
                placeholder="Contact"
                formControlName="contact"
                required
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateHospitalDetails()"
          >
            update
          </button>
        </div>
      </div>
    </div>
  </div>