<tr>
  <td><form class="container form-control mt-4 bg-dark text-light">
    <div class="form-group">
      <label for="exampleInputEmail1">username</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
      />
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        required
      />
    </div>
  
    <button type="submit" class="btn btn-primary" (click)="userUi()">
      login
    </button>
  </form>
</td>
</tr>

